.top-nav a {
  text-decoration: none;
  color: black;
}

.top-nav a.brand {
}

.carousel-item img {
  max-height: 500px;
}

.red-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: red;
}

.text-justify {
  text-align: justify;
}
